*{
     /* border: 1px solid red; */
       margin: 0;
       box-sizing: border-box;
       padding: 0;
}

.upperContainer{
    height: 100vh;
    width: 100vw;
    background: black;
    
}

.lowerContainer{
    height: 100vh;
    width: 100vw;
    background-color: white;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,#0a162e,#173879);
}

.clockDesignBox{

    height: 200px;
    width: 500px;
    /* background: linear-gradient(130deg,); */
   position:relative;
 
}

.reactagularBox{
    position: absolute;
    height: 100px;
    width: 100px;
    margin: 5px;
    background-color: #cc3b7f;
}
.clockBox{
    position: absolute;
    height: 100px;
    width: 450px;
    top: 40px;
    left: 5%;
    z-index: 1;
    
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  
    
    
   
}
.circularBox{
    position: absolute;
    background-color: #c1ad39;
    height: 100px;
    width: 100px;
    bottom: 0;
    right:0;
    border-radius: 50%;
    margin: 5px;
}

.timerBox{
    color: white;
    font-size: 3rem;
    padding: 5px;
    
}